.home-container {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
}

.auth-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adds space between buttons */
}

.home-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.home-btn:hover {
  background-color: #4b4ce3;
}
